name: Deployment pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [opened, synchronize]
jobs:
  simple_deployment_pipeline:    
    runs-on: ubuntu-latest    
    steps:      
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install dependencies 
        run: npm install  
      - run: npm run eslint
      - run: npm run build
      - run: npm test
      - name: Trigger deployment
        if: ${{ github.event_name == 'push' && success() && !contains(toJson(github.event.commits.*.message), '#skip')}}
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: curl "$deploy_url"
      - name: Notify discord about success
        uses: sarisia/actions-status-discord@v1
        if: ${{ github.event_name == 'push' && success() && !contains(toJson(github.event.commits.*.message), '#skip')}}
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          nodetail: true
          title: A new version of Pokedex deployed to https://full-stack-open-pokedex-rnf1.onrender.com/
      - name: Notify discord about failure
        uses: sarisia/actions-status-discord@v1
        if: ${{ github.event_name == 'push' && failure()}}
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          nodetail: true
          title: commit ${{ github.event.head_commit.url }} broke the build
          color: 0xff0000
  tag_release:
    if: ${{ github.event_name == 'push' && success() && !contains(toJson(github.event.commits.*.message), '#skip')}}
    needs: [simple_deployment_pipeline]
    runs-on: ubuntu-latest
    steps:  
      - uses: actions/checkout@v4
      - name: Bump version and push tag     
        uses: anothrNick/github-tag-action@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BUMP: patch