name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [opened, synchronize]
jobs:
  test:    
    runs-on: ubuntu-latest    
    steps:      
      - uses: actions/checkout@v4
      - name: test2
        env:
          COMMITS: ${{ !contains(toJson(github.event.commits.*.message), '#skip') }}
        run: echo "$COMMITS"
      - name: test3
        env:
          COMMITS1: ${{ github.event_name == 'push' && !contains(toJson(github.event.commits.*.message), '#skip')}}
        run: echo "$COMMITS1"